body {
	background-color: #eee9bf;
}

.header {
	width: 100%;
	background: #e5e0b3;
	font-family: 'Courier New', Courier, monospace;
	padding: 1px 0;
}
.header .homepage a {
	color: red;
	font-size: 30px;
	font-weight: 800;
}

.max-width {
	max-width: 1400px;
	padding: 0 80px;
	margin: 30px;
}

.header .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .menu li {
	list-style: none;
	display: inline-block;
}
.header .menu li a {
	font-size: 15;
	font-weight: 500;
	margin-left: 20px;
}

button {
	position: relative;
	font-family: 'Courier New', Courier, monospace;
	height: 50px;
	width: 140px;
	font-size: 14;
	cursor: pointer;
	text-align: center;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 3px;
	border: 1px solid transparent;
	outline: none;
	background: #e5e0b3;
	transition: 1s;
	overflow: hidden;
}

button:first-child {
	color: #206592;
	border-color: #206592;
}
button::before,
button::after {
	position: absolute;
	content: '';
	margin-top: -15;
	right: 0;
	left: 0;
	height: 100%;

	transition: 0.8s;
	filter: blur(20px);
	opacity: 1.4;
}
button:before {
	width: 60px;
	background: rgba(139, 34, 34, 0.6);
	transform: translateX(-130px) skewX(-45deg);
}

button:after {
	width: 30px;
	background: rgba(255, 255, 255, 0.6);
	transform: translateX(-130px) skewX(-45deg);
}

button:hover:before,
button:hover:after {
	opacity: 0.6;
	transform: translateX(320px) skewX(-45deg);
}
button:hover {
	color: red;
}

button:hover:first-child {
	color: blue;
	border-color: blue;
}

a:link {
	color: #19e6d5;
}

a:visited {
	color: #e62519;
}

a:hover {
	color: #9919e6;
}

a:active {
	color: #2ae619;
}

#Bio {
	margin-left: middle;
	color: blue;
	font-size: 25px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
}
p.mynameis {
	background-color: aqua;
}
p.thisisme {
	margin-left: 560;
}

.mojaslika {
	border: 5px double #1980e6;
	margin-left: 410;
	width: 501;
	height: 300;
}

.home {
	display: flex;
	font-family: 'Courier New', Courier, monospace;
}

.home .hometext .prvitekst {
	font-size: 19px;
	margin-left: 0;
	font-weight: 400;
}

.home .hometext .drugitekst {
	font-size: 15px;
	margin-left: 5px;
	font-weight: 400;
}

.home .hometext .drugitekst span {
	color: #2ae619;
	font-weight: 550;
}

.hometext .mrdase {
	margin-left: 250px;
	margin-top: -20;
}
.mrdase li {
	list-style: none;
	font-size: 20;
	margin-left: -20;
	font-weight: 450;
	color: #1bb53a;
}
.mrdase li span {
	position: relative;
}

.mrdase li span::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	border-left: 2px solid;
	left: 0;
	animation: typing 3s steps(38) infinite;
	background: #eee9bf;
}
@keyframes typing {
	100% {
		left: 100%;
		margin: 0 -30px 0 35px;
	}
}

#Edu {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
	color: blue;
}
.schools {
	font-family: 'Courier New', Courier, monospace;
}

#Skills {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
	color: blue;
}
dl {
	display: flex;
	font-family: 'Courier New', Courier, monospace;
	background-color: yellowgreen;
	flex-direction: column;
	width: 100%;
	max-width: 700px;
	position: relative;
	padding: 20px;
}

dt {
	align-self: flex-start;
	width: 100%;
	font-weight: 700;
	display: block;
	text-align: center;
	font-size: 1.4em;
	font-weight: 400;
	margin-bottom: 20px;
	margin-left: 50px;
}

.text {
	font-weight: 600;
	display: flex;
	align-items: center;
	height: 40px;
	width: 130px;
	background-color: yellowgreen;
	position: absolute;
	left: 0;
	justify-content: flex-end;
}

.percentage {
	font-size: 0.8em;
	line-height: 1;
	text-transform: uppercase;
	width: 100%;
	height: 40px;
	margin-left: 130px;
	background: repeating-linear-gradient(to right, #eee9bf, #eee9bf 1px, #eee9bf 1px, #eee9bf 5%);
}
.percentage::after {
	content: "";
	display: block;
	background-color: #3d9970;
	width: 50px;
	margin-bottom: 10px;
	height: 90%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	transition: background-color 0.3s ease;
	cursor: pointer;
}
.percentage:hover:after,
.percentage:focus:after {
	background-color: black;
}

html,
body {
	height: 500px;
	font-family: "fira-sans-2", sans-serif;
	color: black;
}

@for $i from 1 through 6 {
	.percentage-#{$} {
		&:after {
			$value: ($i * 1%);
			width: $value;
		}
	}
}

.percentage-1:after {
	width: 15%;
}
.percentage-2:after {
	width: 52%;
}
.percentage-3:after {
	width: 35%;
}
.percentage-4:after {
	width: 65%;
}
.percentage-5:after {
	width: 80%;
}
.percentage-6:after {
	width: 70%;
}

.box {
	width: 230px;
	height: 325px;
	margin-left: 700px;
	margin-top: -341px;
}

.yellowgreen {
	background: yellowgreen;
}

#Languages {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
	color: blue;
}
td {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
}
th {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
}

#Cont {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
	color: blue;
}

.fbslika {
	width: 40px;
	height: 40px;
}

.igslika {
	width: 40px;
	height: 40px;
}

.gmailslika {
	width: 45px;
	height: 40px;
}
.githubslika {
	width: 55px;
	height: 40px;
}
